/* all common css start */
* {
    margin: 0;
    padding: 0;

}

h1 h2 h3 h4 h5 h6 p {
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

#headermine {
    padding: 30px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;


}

.row {
    display: flex;
}

.headrf {
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 1170px;
    margin: 0 auto;


}

.logo a {
padding: 0 11px;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
ol {
    list-style-type: none;
    display: flex;
}

.menu ul li {
    padding: 0 46px;



}

.menu ul li a {
    color: #181818;
    line-height: 50px;
    font-size: 20px;



}

.menu ul li a:hover {
    color: #5956E8;


}

.contact {
    padding: 20px 30px;
    background: #5956E8;
    border-radius: 10px;
}

.contact a {
    color: bisque;
    font-size: 17px;
}

.contact:hover {
    background: teal;
}

#benner {

    padding: 0 180px;
    background: #5956E8;

}

.text {

    width: 542px;
    height: 424px;
    left: 10%;

}

.text h1 {
    padding: 23px 0;
    width: 383px;
    font-size: 58px;
    font-weight: 900;
    color: white;

}

.text p {
    padding: 27px 0;
    width: 556px;
    font-size: 19px;
    color: #F4F4F4;


}

.text a {
    padding: 15px 10px;
    font-size: 17px;
    background: wheat;
    border-radius: 10px;
    color: #5956E8;


}

.text a:hover {
    background: tomato;
}

.bnnerf {
    justify-content: space-between;
    align-items: center;
}

.benerpic img {
    width: 532px;
    height: 535px;
    padding: 235px 82px;
}

.hkhkkh {
    padding: 55px 0;
}

.hkhkkh h2 {
    text-align: center;
    font-size: 36px;
}

.hkhkkh p {
    width: 444px;
    padding: 20px 1px;
    margin: 1px 410px;
    color: #5D5D5D;


}

.tablef {
    justify-content: space-between;
}

.div1 h3 {
    padding: 10px 10px;
    font-size: 20px;
    position: absolute;
}

.div1 p {
    padding: 39px 10px;
    width: 260px;
    color: #5D5D5D;
}

.gggg {

    padding: 53px 116px;
    background: #110ed9;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 50px;
    border-radius: 20px;
}

.gggg .hghddgdgd {
    left: 50%;
    transform: translate(-50%);
    bottom: 50px;
    position: absolute;
    width: 149px;
    height: 27px;
    padding: 0 20px;
    color: white;

}

.gggg .erer {

    left: 50%;
    transform: translate(-50%);
    bottom: -18px;
    position: absolute;
    width: 85px;
    height: 27px;
    color: white;
}

.gggg .erer i {
    padding: 3px 10px;
    color: white;
    position: absolute;
}


.div2 h3 {
    padding: 10px 10px;
    font-size: 20px;
}

.div2 p {
    width: 260px;
    color: #5D5D5D;
}

.div2 img {
    width: 71px;

}

.hkhk {
    padding: 50px 0;
}

/*  */
.div22 h3 {
    padding: 10px 10px;
    font-size: 20px;
}

.div22 p {
    width: 260px;
    color: #5D5D5D;
}

.div3 h3 {
    padding: 10px 10px;
    font-size: 20px;
}

.div3 p {
    width: 260px;
    color: #5D5D5D;
}

.div3 img {
    width: 71px;
    position: relative;

}

.hjhjjhhj {
    padding: 30px 0;
}

.div4 {
    position: relative;
}

.hjhj {
    position: absolute;
    left: 50%;
    bottom: 53px;
    font-size: 25px;
    transform: translate(-50%);
    color: #5D5D5D;
}

.lk44 {
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translate(-50%);
    padding: 0 10px;
    color: #5D5D5D;
}

/*  */
.div1 {
    position: relative;
}

.hjhjj {
    position: absolute;
    left: 52%;
    bottom: 58px;
    font-size: 25px;
    transform: translate(-50%);
    color: #5D5D5D;
}

.lk444 {
    position: absolute;
    left: 72%;
    bottom: 5px;
    transform: translate(-50%);
    padding: 0 16px;
    color: #5D5D5D;
}

/*  */

.div1 {
    position: relative;
}

.hjhjk {
    position: absolute;
    left: 52%;
    bottom: 58px;
    font-size: 25px;
    transform: translate(-50%);
    color: #5D5D5D;
}

.lk447 {
    position: absolute;
    left: 72%;
    bottom: 5px;
    transform: translate(-50%);
    padding: 0 16px;
    color: #5D5D5D;
}

/* part 6 */
#OurCustomer {
    padding: 70px 0;
}

.picturef {
    justify-content: space-between;

}

.CareAbou h3 {
    width: 586px;
    height: 77px;
    font-size: 40px;
    font-family: "Inter", sans-serif;
    color: #181818;

}

.CareAbou h5 {
    padding: 30px 0;
    width: 542px;
    height: 54px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    line-height: 27px;
    color: #18181894;

}

.group {
    padding: 29px 0;
}

.variations {
    width: 274px;
    height: 108px;
    font-size: 16px;
    color: #18181894;

    line-height: 27px;
}

.MahineAhmed {
    padding: 14px 0;
    font-family: "Inter", sans-serif;
    font-size: 20px;
}

.UXDesigner {
    color: #18181894;
    padding: 10px 0;
    font-family: "Inter", sans-serif;
}

/* ghghghgg */


.grouppy {
    padding: 29px 0;
}

.variationssss {
    width: 274px;
    height: 108px;
    font-size: 16px;
    color: #18181894;

    line-height: 27px;
}

.MahineAhmeddd {
    padding: 14px 0;
    font-family: "Inter", sans-serif;
    font-size: 20px;
}

.UXDesignerrrr {
    color: #18181894;
    padding: 10px 0;
    font-family: "Inter", sans-serif;
}

/* There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form. */
*/

/* all common css start */
.grouppyyy {
    width: 100px;
    padding: 60px 30px;
}

.variationssssee {
    width: 274px;
    height: 108px;
    font-size: 16px;
    color: #18181894;
    padding: 30px 0;
    line-height: 27px;
}

.MahineAhmeddde {
    padding: 14px 0;
    font-family: "Inter", sans-serif;
    font-size: 20px;
}

.UXDesignerrrre {
    color: #18181894;
    padding: 10px 0;
    font-family: "Inter", sans-serif;
}

/* all common css end */

/* part 7 start */
#Letest {
    padding: 70px 0;
}

.Letestff {
    justify-content: space-between;
    align-items: center;
}

.news {
    width: 100%;
}

.news h3 {

    height: 77px;
    font-size: 40px;
    font-family: "Inter", sans-serif;
    color: #181818;
    text-align: center;
}

.news h5 {

    width: 542px;
    padding: 0 323px;
    font-size: 16px;
    line-height: 27px;
    font-family: "Inter", sans-serif;
    color: #18181869;
    text-align: center;
}

.ghgh {
    width: 30%;
    padding: 50px 0;


}

.ghgh .rrrrrr {
    color: #5D5D5D;
    font-family: "Inter", sans-serif;
    line-height: 10px;
}

.rrrrrr i {
    padding: 5px 20px;

}

.Plans {
    padding: 16px 0;
    width: 291.75px;
    height: 47.98px;
    font-size: 20px;
    font-family: "Inter", sans-serif;
}

.There {
    width: 322.97 px;
    height: 80.97px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    line-height: 27px;
    color: #18181894;
}

.Learn {
    width: 94.74 px;
    height: 18.99px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: #5956E8;
}

/* part 7 end */
/* all common css start */
.ghgk {
    width: 30%;
    padding: 50px 0;


}

.ghgk .rrrrrr {
    color: #5D5D5D;
    font-family: "Inter", sans-serif;
    line-height: 10px;
}

.rrrrrr i {
    padding: 5px 20px;

}

/* all common css end */
.ghghkk {
    width: 30%;
    padding: 50px 0;
}

.ghghkk .rrrrrr {
    color: #5D5D5D;
    font-family: "Inter", sans-serif;
    line-height: 10px;
}

.rrrrrr i {
    padding: 5px 20px;

}

/* all common css start */
.footerff {
    justify-content: space-between;
}

.footer1 {
    width: 300px;
    height: 241px;
    position: relative;
}

.footer1 img {
    width: 115.21px;
    height: 83px;


}

.footer1 h3 {
    width: 303px;
    height: 81px;
    line-height: 27px;
    font-size: 16px;
    color: #5D5D5D;
    font-family: "Inter", sans-serif;
}

.footer1 .yyyy {
    width: 19px;
    height: 30px;
    position: absolute;
    background: #5956e838;
    padding: 20px 25px ;
    border-radius: 50px;

}

.footer1 .uuuuu {
    width: 30px;
    height: 30px;
    top: 185px;
    left: 80px;
    position: absolute;
    bottom: 0;
    background: #5956e838;
    padding: 20px 25px ;
    border-radius: 50px;

}

/* all common css end */
.footer2{
    padding: 50px 0;
    width: 95px;
    height: 180px;
}
.footer2 h3{
  
    font-family: "Inter", sans-serif;
    font-size: 20px;
    width: 92.52px;

}
.footer2 h5{
    line-height: 35px;
    color:#5D5D5D ;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    width: 94.52px;
    height: 140px;
}
/* all common css start */
.footer3{
    padding: 50px 0;
    width: 112px;
    height: 214px;
}



.footer3 h3{
  
    font-family: "Inter", sans-serif;
    font-size: 20px;
    width: 92.52px;

}
.footer3 h5{
    line-height: 35px;
    color:#5D5D5D ;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    width: 94.52px;
    height: 140px;
}
/* all common css end */
.footer4{
    padding: 50px 0;
    width: 136px;
    height: 214px;
}



.footer4 h3{
  
    font-family: "Inter", sans-serif;
    font-size: 20px;
    width: 92.52px;

}
.footer4 h5{
    line-height: 35px;
    color:#5D5D5D ;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    width: 94.52px;
    height: 140px;
}
.footer5{
    padding: 50px 0;
    width: 156px;
    height: 120px;
}
.footer5 h3{
  
    font-family: "Inter", sans-serif;
    font-size: 20px;
    width: 92.52px;

}
.footer5 h5{
    line-height: 27px;
    color:#5D5D5D ;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    width: 162px;
    height: 70px;
   
}

#sesssss{
    background: #5d5d5d30;
}